@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400&family=Fraunces:wght@700&family=Lexend+Deca&family=Open+Sans:wght@400;500;600&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Montserrat;
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(30, 38%, 92%);
    padding: 20px;
}
.container{
    max-width: 600px;
    min-height: 400px;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}
.Desktop-product-image{
    background: url(images/image-product-desktop.jpg) center center/cover;
    border-radius: 10px 0px 0px 10px;
}
.description{
    padding: 30px;
}
.description h3{
    color: hsl(228, 12%, 48%);
    margin-bottom: 20px;
}
.description >h1{
    width: 70%;
    font-size: 26px;
    font-family:'Fraunces',serif;
    color: hsl(212, 21%, 14%);
    margin-bottom: 20px;
}
.container p{
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    margin-bottom: 20px;
}
.price-discount{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.new-price{
    font-size: 28px;
    font-family: 'Fraunces',serif;
    color: hsl(158, 36%, 37%);
}
.old-price{
    color: hsl(228, 12%, 48%);
    font-weight: 500;
}
.add-to-cart-btn{
    width: 100%;
    background: hsl(158, 36%, 37%);
    color: hsl(30, 38%, 92%);
    border: none;
    padding: 12px 0;
    border-radius: 5px;
}
.add-to-cart-btn:hover{
    background: hsl(212, 21%, 14%);
}
@media screen and (max-width:514px) {
    .container{
        width: 100%;
        grid-template-columns: auto;
    }
    .Desktop-product-image{
        height: 250px;
        background: url(images/image-product-mobile.jpg) center center/cover;
        border-radius: 10px 10px 0px 0px;
    }
    .description{
        padding: 20px;
    }
    .description >h1{
        width: 100%;
        font-size: 26px;
    }
    .price-discount{
        width: 100%;
        justify-content: left;
        gap: 20px;
    }
}